{% load static %}
<style>
    #hello-message {
        font-size: 18px;
        color: white;
        margin-right: 20px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <img src="{% static 'images/berkan.jpeg' %}" style="width:30px;height:30px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-link" href="#">Berkan's Calculator</a>
            </li>

        </ul>

    </div>
    <span id="hello-message">Hello, {{request.user}}</span>
    <span><a href="{% url 'signout' %}">Sign Out</a></span>

</nav>